<ol type="1">
	<li>Created multiple database sandboxes that users can be assigned to</li>
	<ul>
		<li>Databases can be created</li>
		<li>User can ben attached to that database</li>
		<li>A working database can be selected for each users among the databases that user is attached to</li>
	</ul>
	<li>Added notifications that track when users interact with entities</li>
</ol>