<h1> Create New Model </h1>
<% form_for @manufacturer, :html => {:name => "create"}, :url => {:action => :create} do |f| -%>
	<%= f.error_messages %>
	<%= render :partial => "ccom_entities/new_entity", :object => f %><br/>
	<p>
		<%=f.submit "Create"%>
	</p>
<% end -%>