html, body, #container {height: 100%;font-family: Helvetica, "Gill Sans", Arial, sans-serif; }

body > #container {height: auto; min-height: 100%;}

* {margin:0;padding:0;} 

h1, h2, h3 {margin: 0; padding: 0; font-weight: normal; color: #3E3530;}

h1 {font-size: 1.5em;}

h2 {font-size: 1em;}

h3 {font-size: 0.8em;}

p, ul, ol {margin-top: 0; line-height: 180%;}

a {text-decoration: none; color: #3E3530;}

li {list-style-type: none;}

a:hover {
}

table { border: 1px solid #666666;border-collapse: collapse;padding: 5px; }

td { border: 1px solid #666666;padding: 5px; }

th { border: 1px solid #666666;padding: 5px; }

.right {
	float: right;
	text-align: right;
}

.hide{
	display: none;
}

div.pp_pic_holder{
	font-size: 13px;
}

/* Header */

#header-container {
	background: #091a57;
}

#header {
	margin: 0 auto;
	width: 900px;
	height:80px;
   	background:#091a57;
   	padding:10px;
}

/* Logo */

#logo {
	margin: 0;
	padding-top: 5px;
	color: #000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	letter-spacing: -1px;
	font-size: 3.1em;
	color: #fff;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 2px;
	font: normal 14px;
	font-style: italic;
	color: #FFFFFF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Nav */

#navigation-container {
	float: left;
	width: 100%;
	color: #000;
	background: #184980;
}

#navigation {
	margin: 0 auto;
	width: 900px;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style-type: none;
	display: inline;
}

#navigation li a {
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;

}

#navigation li a:hover { background: #091a57; }

#content {
	margin: 0px auto;
	width: 900px;
   	background:#fff;
	padding-top: 70px;
	padding-bottom: 150px;
}

#right-side {
	float: right;
	width: 560px;
}

#left-side {
	float: left;
	width: 300px;
}

#footer {
   	position:relative;
   	clear: both;
   	height:60px;
   	background:#184980;
   	border-top: 5px solid #091a57;
	margin-top: -65px;
}

#footer p {
	margin: 0 auto;
	width: 900px;
   	padding:15px;
   	color: #fff;
}

.selected-segment { background: #184980; color: white; padding: 2px; }

#notice { padding: 5px; background: yellow; }

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

.fieldWithErrors label{
	line-height: 180%;
}

.fieldWithErrors input{
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin-left: 35px;
}

#error{
	background: none repeat scroll 0 0 #FFEEEE;
	color: #990000;
	border: solid 2px #CC0000;
	padding: 5px;
}

/* Asset index*/

#show-assets li *{display: inline;}
.clear{
	overflow: hidden;
	width: 100%;
}

.asset-basic{
}

.asset-basic td.value {
	min-width: 540px;
}

#show-assets .asset-name{
	margin-right: 20px;
	min-width: 490px;
}

a.button {
	color:#000;
	text-decoration:none;
	display:block;
	width:578px;
	padding: 3px;
	border:1px solid #DDD;
	text-align:center;

	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background:#FFFFFF;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
	background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);
}
a.button:hover {
	color:#000;
	border-color:#3278BE;
}

#show-assets table{
	width: 90%;
}

#show-assets .ui-widget table{
	width: 99%;
	padding: 1px 1px 1px 1px;
}

.entry-edge{
	border:1px solid;
	margin-bottom:20px;
	padding:10px;
}

/*Searilize Asset index*/
#show-assets .button{
	display: inline;
}

#show-assets table.index,
#show-assets td.index {
	border: none;
}
.buttons{
	float: right;
}