<h1>Listing notifications</h1>

<table>
  <tr>
  </tr>

<% @notifications.each do |notifications| %>
  <tr>
    <td><%= link_to 'Show', notifications %></td>
    <td><%= link_to 'Edit', edit_notification_path(notifications) %></td>
    <td><%= link_to 'Destroy', notifications, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New notifications', new_notification_path %>