<div id="notification-details">
	<table>
		<% @notification.attributes.each do |attr| -%>
			<tr>
				<th><%= attr.to_s.humanize %></th>
				<td><%= @notification.send("#{attr}") %></td>
			</tr>
		<% end -%>
	</table>
</div>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
