<div id="tabs">
  <ul>
    <li><a href="#details">Details</a></li>
    <li><a href="#installed_assets">Installed Assets</a></li>
  </ul>
  <div id="details">
    <%= render :partial => "ccom_entities/ccom_entity", :object => @segment %>
  </div>

  <div id="installed_assets">
    <%= render :partial => "install_asset_form", 
        :locals => {:segment => @segment, :uninstalled_assets => @uninstalled_assets } %>
    <ul>
      <%= render :partial => "installed_asset", 
          :collection => @segment.installed_assets, :locals => {:segment => @segment } %>
    </ul>
  </div>
</div>
