<ul>
	<% @assets.each do |asset| -%>
		<table>
			<h4><%=link_to asset.tag, :action => 'show', :id => asset.g_u_i_d%></h4>
	  		<% asset.attribute_names.each do |field| -%>
	    		<% unless (value = asset.send(field)).blank? %>
	      			<tr><td><%= field.to_s.camelize %></td>
						<td> <%= value %></td>
					</tr>
	    		<% end -%>
	  		<% end -%>
		</table>
	<% end -%>
</ul>
