<h1><%= @topology.user_tag %></h1>
<%= render :partial => 'ccom_entities/ccom_entity', :object => @topology %>
<%= render :partial => 'network_connections/network_connection', :object => @topology.entry_point %>
