<div id="right-side"><div id="segment-details"> </div></div>
<div id="left-side">
<div id="topology">
<h1><%= @topology.user_tag %></h1>
<ul id="topology_root" class="functional_locations">
  <li><%= render :partial => 'network_connections/network_connection', :object => @topology.entry_point %>
  </li><!-- <%= @topology.entry_point.source.user_tag %> -->
</ul>
</div>
</div>
