<h1><%= @topology.user_tag %></h1>
<ul class="functional_locations">
  <li><%= render :partial => 'network_connections/network_connection', :object => @topology.entry_point %>
  </li><!-- <%= @topology.entry_point.source.user_tag %> -->
</ul>
