<div class="asset-basics">
	<table>
	  <% basic_info.attribute_names.each do |field| -%>
	    <% unless (value = basic_info.send(field)).blank? %>
	      <tr><td><%= field.to_s.camelize %></td><td> <%= value %></td></tr>
	    <% end -%>
	  <% end -%>
	</table>
</div>