<ul class="attributes">
  <% ccom_entity.attribute_names.each do |field| -%>
    <% unless (value = ccom_entity.send(field)).blank? %>
      <li><%= field %>: <%= value %></li>
    <% end -%>
  <% end -%>
</ul>
