<div class="ccom_entity">
<table>
  <% ccom_entity.attribute_names.each do |field| -%>
    <% unless (value = ccom_entity.send(field)).blank? %>
      <tr><td><%= field.to_s.camelize.display_name %></td><td> <%= value %></td></tr>
    <% end -%>
  <% end -%>
</table>
</div>