<h1>Listing asset_on_segment_histories</h1>

<table>
  <tr>
  </tr>

<% @asset_on_segment_histories.each do |asset_on_segment_history| %>
  <tr>
    <td><%= link_to 'Show', asset_on_segment_history %></td>
    <td><%= link_to 'Edit', edit_asset_on_segment_history_path(asset_on_segment_history) %></td>
    <td><%= link_to 'Destroy', asset_on_segment_history, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New asset_on_segment_history', new_asset_on_segment_history_path %>