<% if !network_connection.source.nil? -%>
	<%= link_to network_connection.source.tag, segment_url(network_connection.source), :class => "show_segment_link" -%>
	<% if !network_connection.target.blank? -%>
	  <ul class="functional_locations">
      	<li><%= link_to network_connection.target.tag, segment_url(network_connection.target), :class => "show_segment_link" -%>
		  	<% if !network_connection.successors.blank? -%>
		   		<ul class="functional_locations">
		   			<% network_connection.successors.each do |successor| -%>
		   				<li><%= render :partial => 'network_connections/network_connection', :object => successor %></li>
		 				<% end -%>
		  		</ul>
		 	<% end -%>
	  	</li>
	  </ul>
	<% end -%>
<% elsif !network_connection.target.blank? -%>
	<%= link_to network_connection.target.tag, segment_url(network_connection.target), :class => "show_segment_link" -%>
<% end -%>

