<p>1) Added Rest test client for all CRUD REST requests</p>

<p>4) Added RESTful call for delete</p>

<p>2) Added user login and maintenance utility so that only those with admin access may use the test client</p>

<p>3) Added 404 error for deleting unknown assets and RESTful error checking</p>

<p>4) Build RESTful edit and added ETAG support (See CCOM REST API)</p>