<b>What's new in v<%=APP_VERSION%></b><br/>
<p>1) Added Restful GET calls for Entities http://siteurl/{EntityName}.xml<br/>
*-Asset<br/>
*-UnitType<br/>
*-Manufacturer<br/>
*-MeasurementLocation<br/>
*-Model<br/>
*-Network<br/>
*-Attribute<br/>
*-Segment<br/>
*-Site<br/>
*-Topology<br/>
*-Type<br/>
*-ValidNetwork<br/>
*-Enterprise<br/>
*-EntryEdge<br/>
*-ControlledSite<br/></p>

<p>2) Added Restful POST for asset with basic error checking</p>

<p>3) Improved XML for all CCOM Entities</p>

<p>4) Added usec to LastEdited</p>

<p>5) Creating Asset with no type of model creates type and model of Undetermined</p>

<p>6) Users can no longer edit entity status or LastEdited (maintained internally)</p>
