<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>MIMOSA Active Registry</title>
    <%= javascript_include_tag :defaults %>
    <%= yield :javascripts %>
  </head>
  <body>
    <%= render :partial => "shared/flash_display" %>

    <%= yield %>
  </body>
</html>
