<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MIMOSA Active Registry</title>
<link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
<div id="container">
	<div id="header-container">
   		<div id="header">
   			<div id="logo">
				<h1>Assetricity</h1>
				<p>Your Strategic Partner In Open Operations and Maintenance</p>
			</div>
   		</div>
   	</div>
   
   <div id="content">
   		<div id="right-side">Object Details will display here</div>
   		<div id="left-side">Place Object List Here</div>
   </div>
   
   <div id="footer">
   		<p>Copyright &copy; Assetricity, 2010</p>
   </div>
</div>
</body>
</html>